.container {
    padding: 20px;
    background-color: #DAEAF1;
    border-bottom: 5px solid #EB1D36;
    box-shadow: 0 2px 3px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 40px;
}

.user {
    display: flex;  
    align-items: center
}

.link {
    color:black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.active_link {
    color: #EB1D36;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}